*,
*::after,
*::before {
    box-sizing: border-box;
    font-weight: 400;
    color: #292f36;
    margin: 0;
    padding: 0;
}


img {
    display: flex;
    max-width: 100%;
}

a {
    display: inline-block;
    text-decoration: none;
    transition: 0.5s ease-in-out;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -ms-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
}

ul {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: yekan, serif;
    line-height: 125%;
}

.row {
    display: flex;
}

.flex {
    flex-wrap: wrap;
    gap: clamp(1rem, 5vw, 5rem);
}

.flex>* {
    flex: 1 1 30rem;
}

.column {
    display: grid;
}

.grid {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: clamp(1rem, 5vw, 5rem);
}

.container {
    max-width: 90%;
    margin: 0 auto;
}


/* #region Video */

.video {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 50%;
    gap: 1rem;

    h4 {
        // font-size: 1.2rem;
        font-weight: 700;
    }

    button {
        font-family: vazir;
        font-size: 1rem;
        // font-weight: bold;
        width: 9rem;
    }

}

/* #EndRegion Video */

/* #region Hero */
.hero {
    background-image: url(../../../assets/imgs/img.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 0 0 0 25%;
    -webkit-border-radius: 0 0 0 25%;
    -moz-border-radius: 0 0 0 25%;
    -ms-border-radius: 0 0 0 25%;
    -o-border-radius: 0 0 0 25%;

    .container {
        min-height: clamp(50vh, 100vw, 100vh);
        align-items: center;
        padding: 2rem 0;

        .hero-content {
            max-width: 550px;

            h1 {
                font-size: clamp(2rem, 7.5vw, 5rem);

                span {
                    color: #cda274;
                }

                .smile {
                    font-size: 40px;
                    padding: 40px;
                    font-weight: 500;
                }
            }
        }
    }

}

.contact-content h2+p {
    font-family: yekan;
    margin: 1.5rem auto;
}

/* #endRegion Hero */

/* #region Cards */
.cards,
.project,
.article {
    padding: 4rem 0;
}

.cards {
    div {
        text-align: center;
        border: 3px solid #f4f0ec;
        padding: 2rem;
        border-radius: 25px;
        -webkit-border-radius: 25px;
        -moz-border-radius: 25px;
        -ms-border-radius: 25px;
        -o-border-radius: 25px;

        h4 {
            font-size: clamp(1rem, 4.5vw, 1.6rem);
        }

        p {
            font-family: yekan;
            font-size: 17px;
            margin: 1.5rem auto;
        }
    }
}

/* #endRegion Cards */

/* #region Contact */
.contact {
    flex-wrap: wrap-reverse;
    padding: 4rem 0;

    .contact-content {
        align-self: center;
        font-size: 1.2rem;
    }

    h2 {
        font-size: clamp(1.5rem, 5vw, 3.125rem);
    }

    .details {
        max-width: max-content;
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        gap: 1rem;

        .row {
            width: 50px;
            height: 50px;
            align-items: center;
            justify-content: center;
        }

        p {
            text-transform: capitalize;
            margin-top: 0.5rem;

        }
    }
}

.p-cards-content .row,
.card-content .row {
    fill: transparent;
    stroke: #cda274;
    background: #f4f0ec;
    width: 90px;
    height: 90px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transition: 0.5s ease-in-out;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -ms-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
}

.p-cards:hover .p-cards-content .row,
.a-card:hover .card-content .row {
    background: #cda274;
    stroke: #f4f0ec;
}

.testimonial-slider,
.heading p {
    margin-top: 1.5rem;
}

.contact-img img {
    width: 100%;
    object-fit: cover;
    border-radius: 0 50% 0 25%;
    -webkit-border-radius: 0 50% 0 25%;
    -moz-border-radius: 0 50% 0 25%;
    -ms-border-radius: 0 50% 0 25%;
    -o-border-radius: 0 50% 0 25%;
}

/* #endRegion Contact */

/* #region Projects */
.heading {
    text-align: center;
    max-width: 750px;
    margin: 0 auto 1.5rem auto;
}

.project-cards {
    img {
        width: 100%;
        height: 100%;
        max-width: 500px;
        object-fit: cover;
    }

    a:nth-of-type(1) img {
        border-radius: 100px 0 0 0;
        -webkit-border-radius: 100px 0 0 0;
        -moz-border-radius: 100px 0 0 0;
        -ms-border-radius: 100px 0 0 0;
        -o-border-radius: 100px 0 0 0;
    }

    a:nth-of-type(2) img {
        border-radius: 0 100px 0 0;
        -webkit-border-radius: 0 100px 0 0;
        -moz-border-radius: 0 100px 0 0;
        -ms-border-radius: 0 100px 0 0;
        -o-border-radius: 0 100px 0 0;
    }

    a:nth-of-type(3) img {
        border-radius: 0 0 0 100px;
        -webkit-border-radius: 0 0 0 100px;
        -moz-border-radius: 0 0 0 100px;
        -ms-border-radius: 0 0 0 100px;
        -o-border-radius: 0 0 0 100px;
    }

    a:nth-of-type(4) img {
        border-radius: 0 0 100px 0;
        -webkit-border-radius: 0 0 100px 0;
        -moz-border-radius: 0 0 100px 0;
        -ms-border-radius: 0 0 100px 0;
        -o-border-radius: 0 0 100px 0;
    }

    .p-cards {
        .p-cards-content {
            flex-direction: column;
            align-items: flex-end;
            max-width: 500px;
            // justify-content: space-between;
            gap: 1rem;
            margin-top: 1.5rem;

            .row {
                width: 50px;
                height: 50px;
            }
        }
    }

}

/* #endRegion Projects */

/* #region Articles */
.article-cards {
    a {
        border: 1px solid #f4f0ec;
        background: #ffffff;
        padding: 1rem;
        border-radius: 25px;

        &:hover {
            background: #f4f0ec;
        }
    }

    .a-card {
        img {
            width: 100%;
            height: 100%;
            max-height: 250px;
            object-fit: cover;
            border-radius: 25px;
        }

        h3 {
            margin: 0.8rem auto;
        }
    }

    .card-content {
        align-items: center;
        justify-content: space-between;
        gap: 1rem;

        p {
            font-size: 1rem;
        }

        .row {
            width: 50px;
            height: 50px;
        }

    }
}

h3 {
    font-size: clamp(1rem, 5vw, 1.25rem);
}

/* #endRegion Articles */

/* Media */
@media (min-width:1220px) {
    .container {
        max-width: 1160px;
    }
}