<!-- Hero -->
<section class="hero">
    <div class="row container">
        <div class="hero-content">
            <h1>به سایت <span>مری دکور</span> خوش آمدید. <mat-icon class="smile">mood</mat-icon></h1>
        </div>
    </div>
</section>
<!-- End Hero -->

<!-- Cards -->
<section class="cards column grid container">
    <div>
        <h4>طراحی زیبا</h4>
        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون
            بلکه روزنامه و مجله </p>
    </div>
    <div>
        <h4>با انرژی</h4>
        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون
            بلکه روزنامه و مجله </p>
    </div>
    <div>
        <h4>تحویل به موقع</h4>
        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون
            بلکه روزنامه و مجله </p>
    </div>
</section>
<!-- End Cards -->

<!-- Video -->
<section class="video">
    <h4>ویدیویی از نمونه کار</h4>
    <app-video-player></app-video-player>
    <button mat-raised-button color="primary" routerLink=""> نمایش بیشتر </button>
</section>
<!-- End Video -->

<!-- Contact -->
<section class="contact row flex container">
    <div class="contact-content">
        <h2>ما هنر شیک زندگی را به شیک خلق می کنیم</h2>
        <p>این واقعیت ثابت شده است که خواننده از خواندنی ها حواسش پرت می شود. با نگاه کردن به چیدمان های آن، نکات
            استفاده از آن کم و بیش عادی است.</p>
        <a href="tel:+989123464052" class="details">
            <div class="icon"><mat-icon>call</mat-icon></div>
            <div>
                <h3>09123464052</h3>
                <p>در هر زمان با ما تماس بگیرید</p>
            </div>
        </a>
    </div>
    <div class="contact-img"><img src="../../../assets/imgs/img1.jpeg" alt=""></div>
</section>
<!-- End Contact -->

<!-- Project -->
<section class="project container">
    <div class="heading">
        <h2>کارهای ما را دنبال کنید</h2>
        <p>بهترین کار رو در اختیار شما قرار دادیم
        </p>
    </div>
    <div class="project-cards row flex">
        <a routerLink="/baby-decor" class="p-cards column">
            <div><img src="../../../assets/imgs/c1.jpeg" alt=""></div>
            <div class="p-cards-content row">
                <div>
                    <h4>دکور کودک</h4>
                    <p>دکور / معماری</p>
                </div>
                <div class="row">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                        <path d="M16.67 0l2.83 2.829-9.339 9.175 9.339 9.167-2.83 2.829-12.17-11.996z" />
                    </svg>
                </div>
            </div>
        </a>
        <a routerLink="/children-castle" class="p-cards column">
            <div><img src="../../../assets/imgs/c2.jpeg" alt=""></div>
            <div class="p-cards-content row">
                <div>
                    <h4>قلعه کودک</h4>
                    <p>دکور / معماری</p>
                </div>
                <div class="row">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                        <path d="M16.67 0l2.83 2.829-9.339 9.175 9.339 9.167-2.83 2.829-12.17-11.996z" />
                    </svg>
                </div>
            </div>
        </a>
        <a routerLink="/children-castle" class="p-cards column">
            <div><img src="../../../assets/imgs/c3.jpeg" alt=""></div>
            <div class="p-cards-content row">
                <div>
                    <h4>کلبه کودک</h4>
                    <p>دکور / معماری</p>
                </div>
                <div class="row">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                        <path d="M16.67 0l2.83 2.829-9.339 9.175 9.339 9.167-2.83 2.829-12.17-11.996z" />
                    </svg>
                </div>
            </div>
        </a>
        <a href="#" class="p-cards column">
            <div><img src="../../../assets/imgs/c4.jpeg" alt=""></div>
            <div class="p-cards-content row">
                <div>
                    <h4>کلبه بچه</h4>
                    <p>دکور / معماری</p>
                </div>
                <div class="row">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                        <path d="M16.67 0l2.83 2.829-9.339 9.175 9.339 9.167-2.83 2.829-12.17-11.996z" />
                    </svg>
                </div>
            </div>
        </a>
    </div>
</section>
<!-- End Project -->

<!-- Article -->
<section class="article container">
    <div class="heading">
        <h2>مقالات و اخبار</h2>
        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون
            بلکه روزنامه و مجله </p>
    </div>
    <div class="article-cards column grid">
        <a href="#" class="a-card column">
            <div><img src="../../../assets/imgs/c5.jpeg" alt=""></div>
            <h3>بیایید راه حلی برای کار ساخت و ساز ساختمان پیدا کنیم</h3>
            <div class="card-content row">
                <p>26 دسامبر 2023</p>
                <div class="row">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                        <path d="M16.67 0l2.83 2.829-9.339 9.175 9.339 9.167-2.83 2.829-12.17-11.996z" />
                    </svg>
                </div>
            </div>
        </a>
        <a href="#" class="a-card column">
            <div><img src="../../../assets/imgs/c6.jpeg" alt=""></div>
            <h3>بیایید راه حلی برای کار ساخت و ساز ساختمان پیدا کنیم</h3>
            <div class="card-content row">
                <p>26 دسامبر 2023</p>
                <div class="row">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                        <path d="M16.67 0l2.83 2.829-9.339 9.175 9.339 9.167-2.83 2.829-12.17-11.996z" />
                    </svg>
                </div>
            </div>
        </a>
        <a href="#" class="a-card column">
            <div><img src="../../../assets/imgs/c7.jpeg" alt=""></div>
            <h3>بیایید راه حلی برای کار ساخت و ساز ساختمان پیدا کنیم</h3>
            <div class="card-content row">
                <p>26 دسامبر 2023</p>
                <div class="row">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                        <path d="M16.67 0l2.83 2.829-9.339 9.175 9.339 9.167-2.83 2.829-12.17-11.996z" />
                    </svg>
                </div>
            </div>
        </a>
    </div>
</section>
<!-- End Article -->