<footer>
    <div class="footer-col">
        <h4>سایت مری دکور(Merry Decor)</h4>
        <ul>
            <li><a routerLink=""><mat-icon>other_houses</mat-icon> نمونه کار</a></li>
            <li><a routerLink=""><mat-icon>other_houses</mat-icon> دکور بچه</a></li>
            <li><a routerLink=""><mat-icon>other_houses</mat-icon> قلعه کودک</a></li>
            <li><a routerLink=""><mat-icon>other_houses</mat-icon> کلبه کودک</a></li>
        </ul>
    </div>
    <div class="footer-col">
        <h4>با ما تماس بگیرید</h4>
        <ul>
            <li>
                <a href="tel:+989123464052">
                    <h3><mat-icon>call</mat-icon> 09123464052</h3>

                </a>
            </li>
        </ul>
    </div>
    <div class="footer-col">
        <h4>ما را دنبال کنید</h4>
        <div class="links">
            <a href="https://instagram.com/decor.child.room?igshid=NTc4MTIwNjQ2YQ=="><i
                    class="fab fa-instagram"></i></a>
            <a href=""><i class="fab fa-telegram"></i></a>
            <a href=""><i class="fab fa-whatsapp"></i></a>
        </div>
    </div>
</footer>