#menuTitle {
    

    a{
        text-decoration: none;
        color: white;
        margin-left: 20px;
        font-family: yekan;
        font-weight: bold;
        font-size: 1.3rem;
    }
}

a {
    font-family: yekan;
    font-size: 1.3rem;
}

.mat-toolbar {
    height: 60px;
}

.mat-sidenav {
    background-color: #3F51B5;
    width: 140px;
}

.side-nav-items {
    display: flexbox;
    flex-direction: column;
}

.side-menu-item {
    color: white !important;
    margin-top: 20px;
    font-family: yekan;
    text-align: center;
}

@media (min-width:900px) {
    #menuIcon {
        display: none;
    }

    .mat-sidenav {
        display: none;
    }
}

@media (max-width:900px) {
    .top-menu-item {
        display: none;
    }
}