<section class="contact">
    <div class="content">
        <h2>تماس با ما</h2>
    </div>
    <div class="container">
        <div class="contactInfo">
            <div class="box">
                <div class="icon"><mat-icon>pin_drop</mat-icon></div>
                <div class="text">
                    <h3>آدرس</h3>
                    <p>تهران- خیابان ساسانی - پلاک ۴</p>
                </div>
            </div>
            <div class="box">
                <div class="icon"><mat-icon>call</mat-icon></div>
                <div class="text">
                    <h3>شماره تماس</h3>
                    <p>09365261452</p>
                </div>
            </div>
            <div class="box">
                <div class="icon"><mat-icon>email</mat-icon></div>
                <div class="text">
                    <h3>ایمیل</h3>
                    <p>omid.aghili"&#64;"gmail.com</p>
                </div>
            </div>
            <div class="box">
                <div class="icon"><mat-icon>support_agent</mat-icon></div>
                <div class="text">
                    <h3>مشاوره و بازدید رایگان</h3>
                    <p>مشاوره و بازدید رایگان در تهران و کرج</p>
                </div>
            </div>
        </div>
    </div>
</section>